# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=joe123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=synq

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# Google OAuth
GOOGLE_CLIENT_ID=335846643539-am8i2gne8ajsu3sbgfomb61pp26dr6ir.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# JWT Secret
SECRET_KEY=your-super-secret-key-change-in-production
